# Token tài khoản Discord (Bắt buộc)
TOKEN=your_discord_token_here

# Proxy IP bảo vệ (Tùy chọn - nếu muốn đổi IP để tránh limit IP):
# Hỗ trợ HTTP, HTTPS, SOCKS5 (Ví dụ: http://user:pass@ip:port)
PROXY=

# Tự động ghi danh nhiệm vụ mới (Mặc định: true)
AUTO_ENROLL=true

# Tự động nhận thưởng khi xong nhiệm vụ (Mặc định: true)
AUTO_CLAIM=

# Chu kỳ Heartbeat tính bằng giây (Mặc định: 30)
HEARTBEAT_INTERVAL=30

# Phát âm báo khi hoàn thành nhiệm vụ (Mặc định: true)
PLAY_SOUND=true
